<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/commons :: head" />
<body th:background="${header.backgroundImageUrl}">
	<th:block th:include="fragments/header :: header" />

	<div class="container" style="margin-bottom:150px; margin-top:90px;">

		<div class="card-deck mb-4">
			<div class="card border-dark text-center">
				<p class="card-header h4">Products for sale</p>
				<div class="card-body">
					<p class="display-3" th:text="${dashboard.activeSales}" />
					<span class="text-muted"> pieces</span>
				</div>
			</div>
			<div class="card border-dark text-center">
				<p class="card-header h4">Total Transactions</p>
				<div class="card-body">
					<p class="display-3" th:text="${dashboard.totalTransactions}" />
					<span class="text-muted"> pieces</span>
				</div>
			</div>
			<div class="card border-dark text-center">
				<p class="card-header h4">Total Purchase</p>
				<div class="card-body">
					<p class="display-3"
						th:text="${#numbers.formatDecimal(dashboard.totalPurchase,1,2)}" />
					<span class="text-muted"> USD</span>
				</div>
			</div>
		</div>

		<div class="alert alert-success mb-4" role="alert" th:if="${firstTime}">
			<h4 class="alert-heading">Thank you!</h4>
			<p class="lead">Yes, we know that this is your first time :).
				Hmmm, are you a little concerned? Do not worry my friend!</p>
			<p class="lead">
				Do you want to learn what we can do for you, what about looking at
				the "<a href="/what-we-do">What we do</a>" page.
			</p>
			<hr />
			<p>
				It is good to see you here <span class="font-weight-bold"
					th:text="${dashboard.name}" />...
			</p>
		</div>

		<div class="card bg-light mb-4">
			<div class="card-body">
				<div class="card-title">
					<h1>
						Heey <span class="font-bold" th:text="${dashboard.name}" />,
					</h1>
					<h1>
						<small>Welcome to your trusted, secure, and automated
							payment world.</small>
					</h1>
				</div>
				<p class="lead">
					Do you know that it is possible to use your Twitter account to sell
					your unused belongings. Yes you can, but there is a significant
					problem when you want to sell and buy something on Twitter, that is
					payment. Twitter does not provide a social payment infrastructure.
					Sure you consider that there is an option to pay at the door, but
					it is not useful for international sales. You cannot expect from
					someone abroad to accept the payment on behalf of you, right!. A
					trusted, secure, and automated payment mechanism is needed. Let's
					recognize you the <strong>wolower</strong>.
				</p>
			</div>
		</div>

		<div class="card border-dark">
			<div class="card-header">
				<h1>Your transactions</h1>
			</div>
			<div class="card-body" th:if="${#lists.isEmpty(dashboard.transactions)}">
				<div class="alert alert-danger" role="alert">
					<strong th:text="${dashboard.name}" />, we could not find any
					transactions. Do you need help?
				</div>
			</div>
			<div class="card-body" th:if="${#lists.isEmpty(dashboard.transactions)}">
				<table class="table">
					<thead>
						<tr>
							<th>Social Media</th>
							<th>Amount</th>
							<th>Timestamp</th>
							<th>Authorization Code</th>
							<th>Response Code</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Social Media</th>
							<th>Amount</th>
							<th>Timestamp</th>
							<th>Authorization Code</th>
							<th>Response Code</th>
						</tr>
							<tr>
							<th>Social Media</th>
							<th>Amount</th>
							<th>Timestamp</th>
							<th>Authorization Code</th>
							<th>Response Code</th>
						</tr>
							<tr>
							<th>Social Media</th>
							<th>Amount</th>
							<th>Timestamp</th>
							<th>Authorization Code</th>
							<th>Response Code</th>
						</tr>
						<tr th:each="transaction : ${dashboard.transactions}"
							th:class="${transaction.responseCode == '00'}? #{success} : #{danger}">
							<td th:text="${transaction.socialMedia}" />
							<td th:text="${transaction.amount}" />
							<td th:text="${transaction.timestamp}" />
							<td th:text="${transaction.authorizationCode}" />
							<td th:text="${transaction.responseCode}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer" th:unless="${#lists.isEmpty(dashboard.transactions)}">
				<p>
					You see your last <span th:text="${transactions.size()}" />
					transactions above. For more, please visit <a href="/reports">Reports</a>
					page.
				</p>
			</div>
		</div>
	</div>

	<th:block th:include="fragments/footer :: footer" />

</body>
</html>