<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/commons :: head" />
<body>
	<th:block th:include="fragments/header :: header" />

	<div class="container" style="margin-bottom: 150px; margin-top: 90px;">

        <div class="card border-dark mb-4">
            <div class="card-body">
                <p class="card-text lead">
                    The <strong>wolower</strong> provides you a automated payment mechanism for the purchases that you did on Twitter.
                    You can find below how the transaction sequences are.
                </p>
            </div>
        </div>

		<div class="card border-dark">
			<div class="card-body">
				<table>
					<tr>
						<td>
                            <p class="card-text lead">
                                The sequence diagram of how to pair your Masterpass account with the <strong>wolower</strong>
                            </p>
                            <div class="text-center">
                                <img class="rounded mx-auto" th:src="@{/img/wolower.masterpass-pairing.svg}" />
                            </div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<th:block th:include="fragments/footer :: footer" />
</body>
</html>