<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="footer">

	<footer class="fixed-bottom">
		<ul class="links">
			<li><a href="https://github.com/taneresme"><span
					class="fa fa-github"></span> GitHub</a></li>
			<li><a href="https://twitter.com/wolower_payment"><span
					class="fa fa-twitter"></span> Twitter</a></li>
		</ul>
	</footer>
	<!-- Sandbox -->
	<script type="text/javascript"
		src="https://sandbox.masterpass.com/integration/merchant.js" />
	<!-- 	<script type="text/javascript" -->
	<!-- 		src="https://cdnjs.com/libraries/Chart.js" /> -->
	<!-- 	<script src="https://platform.twitter.com/widgets.js" charset="utf-8" /> -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.1/URI.min.js"></script>


	<script src="@{/js/docs.js}"></script>
</div>
</html>