<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="footer">

	<footer>
		<ul class="links">
			<li><a href="https://github.com/taneresme"><span
					class="fa fa-github"></span> GitHub</a></li>
			<li><a href="https://twitter.com/wolower_payment"><span
					class="fa fa-twitter"></span> Twitter</a></li>
		</ul>
	</footer>
	<!-- Sandbox -->
	<script type="text/javascript"
		src="https://sandbox.masterpass.com/integration/merchant.js" />
	<script type="text/javascript"
		src="https://cdnjs.com/libraries/Chart.js" />

	<script src="@{/js/jquery.js}"></script>
	<script src="@{/js/docs.js}"></script>
	<script src="@{/js/bootstrap-alert.js}"></script>
</div>
</html>