<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="header">

	<div class="jumbotron">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/dashboard">wolower</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#">Home <span
						class="sr-only">(current)</span></a> <a class="nav-item nav-link"
						href="#">Features</a> <a class="nav-item nav-link" href="#">Pricing</a>
					<a class="nav-item nav-link disabled" href="#">Disabled</a>
				</div>
			</div>
			<div class="nav navbar-right" th:if="${header != null}">
				<span class="navbar-brand" th:text="${header.name}" /> <img
					th:src="${header.profilePictureUrl}" class="img-circle" />
			</div>
		</nav>


		<!-- 		<nav class="navbar navbar-light fixed-top" -->
		<!-- 			style="background-color: #e3f2fd;"> -->
		<!-- 			<div class="container"> -->
		<!-- 				<div class="navbar-header"> -->
		<!-- 					<a class="navbar-brand" th:href="dashboard" th:text="wolower" /> -->
		<!-- 				</div> -->
		<!-- 				<ul class="nav navbar-nav"> -->
		<!-- 					<li class="active"><a href="/dashboard">Your dashboard</a></li> -->
		<!-- 					<li><a href="#">Your reports</a></li> -->
		<!-- 					<li><a href="#">What we do</a></li> -->
		<!-- 				</ul> -->


		<!-- 				<div class="nav navbar-right" th:if="${header != null}"> -->
		<!-- 					<span class="navbar-brand" th:text="${header.name}" /> <img -->
		<!-- 						th:src="${header.profilePictureUrl}" class="img-circle" width="45" -->
		<!-- 						height="45" /> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</nav> -->
	</div>

</div>
</html>