<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/commons :: head" />

<body>
	<div th:if="${showWarning}"
		class="row alert alert-warning alert-dismissible fade in" role="alert"
		style="margin: 0 auto;">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">&times;</button>
		<strong>Warning!</strong> <span th:text="${warningMessage}" />
	</div>

	<div class="jumbotron">
		<div class="container">
			<h1>
				<b>wolower</b>
			</h1>
			<p>Your trusted, secure, and automated payment mechanism for
				Twitter.</p>

			<div th:if="${authenticated == null}">
				<a href="/twitter/signup" class="btn btn-outline btn-lg"><span
					class="fa fa-twitter"></span> <b>Sign in with Twitter</b> </a>
			</div>
			<div th:if="${authenticated != null}">
				<p>
					You have signed in as <b th:text="${username}" />
				</p>
				<a href="/dashboard" class="btn btn-outline btn-lg"><b>Go to
						dashboard</b> </a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				Do you know that it is possible to use your Twitter account to sell
				your unused belongings. Yes you can, but there is a significant
				problem when you want to sell and buy something on Twitter, that is
				payment. Twitter does not provide a social payment infrastructure.
				Sure you consider that there is an option to pay at the door, but it
				is not useful for international sales. You cannot expect from
				someone abroad to accept the payment on behalf of you, right!. A
				trusted, secure, and automated payment mechanism is needed. Let's
				recognize you the <b>wolower</b>.
			</div>
		</div>

		<div class="container mx-auto">
			<div class="container">
				<blockquote class="twitter-tweet">
					<p lang="en" dir="ltr">
						Sunsets don&#39;t get much better than this one over <a
							href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>.
						<a
							href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a>
						<a
							href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a>
						<a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a>
					</p>
					&mdash; US Department of the Interior (@Interior) <a
						href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May
						5, 2014</a>
				</blockquote>
			</div>
		</div>

	</div>

	<th:block th:include="fragments/footer :: footer" />

</body>
</html>